.OSCountdown {
	font-family: Arial,sans-serif;
	font-size: 30px;
	color: #ffffff;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	padding: 15px;
	text-align: center;
	line-height: normal;
	overflow: hidden;
	white-space: nowrap;
	background-color: #d21d22;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	background: -webkit-linear-gradient(#d21d22, #a70c0e);
	background: -moz-linear-gradient(#d21d22, #a70c0e);
	background: linear-gradient(#d21d22, #a70c0e);
}

.OSCountdown a {
	color: inherit;
	display: block;
	width: 100%;
	height: 100%;
}

.OSCountdown span.title {
	display: inline-block;
	margin: 0 5px;
	position: relative;
	vertical-align: middle;
}

.OSCountdown div.timer {
	display: inline-block;
	margin: 0 5px;
	position: relative;
	vertical-align: middle;
}

.OSCountdown div.timer > div {
	display: inline-block;
	margin: 0 4px;
}

.OSCountdown div.timer span {
	display: block;
	margin: 2px 0;
}

.OSCountdown div.timer span.label {
	font-size: 9px;
	text-transform: uppercase;
	background-color: #9c0000;
	border-radius: 10px;
	margin: 0 0 4px;
	padding: 2px 5px;
}

.OSCountdown div.timer span.value {
	color: #000000;
	font-size: 34px;
	background-color: #ffffff;
	border-radius: 3px;
	min-width: 54px;
	background-color: #d21d22;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
	background: -webkit-linear-gradient(#ffffff 0%, #e6e6e6 3%, #e5e5e5 54%, #c5c5c5 55%, #ffffff 55%, #ffffff 100%);
	background: -moz-linear-gradient(center top , #ffffff 0%, #e6e6e6 3%, #e5e5e5 54%, #c5c5c5 55%, #ffffff 55%, #ffffff 100%);
	background: linear-gradient(center top , #ffffff 0%, #e6e6e6 3%, #e5e5e5 54%, #c5c5c5 55%, #ffffff 55%, #ffffff 100%);
}

